<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnHKpdV2ScYZi93IC3U1_rLJHSaDjsSzE</string>
	<key>GCM_SENDER_ID</key>
	<string>200304505276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makingstuff.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-new-flutter-proj</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-new-flutter-proj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200304505276:ios:290f4a598a089a23c63bb9</string>
</dict>
</plist>